MET PHE ILE GLU ASN LYS PRO GLY GLU ILE GLU LEU LEU SER PHE PHE 
GLU SER GLU PRO VAL SER PHE GLU ARG ASP ASN ILE SER PHE LEU TYR 
THR ALA LYS ASN LYS CYS GLY LEU SER VAL ASP PHE SER PHE SER VAL 
VAL GLU GLY TRP ILE GLN TYR THR VAL ARG LEU HIS GLU ASN GLU ILE 
LEU HIS ASN SER ILE ASP GLY VAL SER SER PHE SER ILE ARG ASN ASP 
ASN LEU GLY ASP TYR ILE TYR ALA GLU ILE ILE THR LYS GLU LEU ILE 
ASN LYS ILE GLU ILE ARG ILE ARG PRO ASP ILE LYS ILE LYS SER SER 
SER VAL ILE ARG 
